# public net.minecraft.server.level.ServerChunkCache$ChunkAndHolder
public net.minecraft.world.level.chunk.storage.SectionStorage$PackedChunk
public net.minecraft.server.level.ServerChunkCache tickSpawningChunk(Lnet/minecraft/world/level/chunk/LevelChunk;JLjava/util/List;Lnet/minecraft/world/level/NaturalSpawner$SpawnState;)V
public net.minecraft.server.level.ChunkMap$DistanceManager
public net.minecraft.server.level.ChunkMap$DistanceManager forEachEntityTickingChunk(Lit/unimi/dsi/fastutil/longs/LongConsumer;)V
